<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
    <title>Clínica</title>
</head>
<body>
    <h1 class="welcome-message">Bem Vindo à Clínica NAO</h1>
    <br>
    <br>
    <script>
        function FazerAgendamento() {
            window.location.href = "{{ url_for('main.agendamento') }}";
        }
    </script>
    <button onclick="FazerAgendamento()" id="btn-agendarConsulta">Agendar consulta</button>
</body>
</html>
